.friends {
  margin-top: 200px;
}
.friendsBar {
    margin: 0 auto;
    display: grid;
  
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.headerText{
  text-align: center;
}