.app-wrapper {
  margin: 0 auto;
  display: grid;

  grid-template-areas:
  ". h h ."
  ". n c .";
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 0.5fr 1.5fr 10fr 1fr;
  grid-gap: 10px;
}
.app-wrapper-content{
    grid-area: c;
    background-color: lemonchiffon;
}
